In [5]:
import numpy as np
import pandas as pd

In [6]:
print(pd.NA | False)

<NA>

In [7]:
df = pd.DataFrame({
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'F', 'M', 'M', 'M', 'F', 'F', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}, index = ['Ana','Benito','Camilo','Daniel','Erika','Paola','Gabriela'])


print(df['edad'] >= 12)

Ana         False
Benito      False
Camilo       True
Daniel       True
Erika        True
Paola       False
Gabriela     True
Name: edad, dtype: bool

In [8]:
df = pd.DataFrame({
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'F', 'M', 'M', 'M', 'F', 'F', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}, index = ['Ana','Benito','Camilo','Daniel','Erika','Paola','Gabriela'])

print(df.iloc[[4],[2]])

      pais
Erika   mx

In [9]:
df.describe()

            edad          cm         Q1        Q2
count   7.000000    7.000000   6.000000  7.000000
mean   11.571429  125.714286   6.833333  8.285714
std     1.718249   14.556949   2.483277  0.755929
min     9.000000  110.000000   3.000000  7.000000
25%    10.500000  117.500000   5.500000  8.000000
50%    12.000000  125.000000   7.500000  8.000000
75%    12.500000  127.500000   8.000000  9.000000
max    14.000000  155.000000  10.000000  9.000000

In [10]:
np.array([10,8,5,0]) * np.array([0,1,6,12])

array([ 0,  8, 30,  0])

In [15]:
df.convert_dtypes()

          edad   cm pais genero    Q1  Q2
Ana         10  115   co      F     5   7
Benito       9  110   mx      M    10   9
Camilo      13  130   co      M     8   9
Daniel      14  155   mx      M  <NA>   8
Erika       12  125   mx      F     7   8
Paola       11  120   ch      F     8   8
Gabriela    12  125   ch      F     3   9

In [16]:
list(df)

['edad', 'cm', 'pais', 'genero', 'Q1', 'Q2']

In [17]:
df.set_index('pais','edad').sort_index()

      edad   cm genero    Q1   Q2
pais
ch      11  120      F   8.0  8.0
ch      12  125      F   3.0  9.0
co      10  115      F   5.0  7.0
co      13  130      M   8.0  9.0
mx       9  110      M  10.0  9.0
mx      14  155      M   NaN  8.0
mx      12  125      F   7.0  8.0

In [20]:
df.shape

(7, 6)

In [21]:
df = pd.DataFrame({
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'F', 'M', 'M', 'M', 'F', 'F', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}, index = ['Ana','Benito','Camilo','Daniel','Erika','Paola','Gabriela'])


print(df.loc[['Ana'],['cm']])

      cm
Ana  115

In [38]:
df = pd.DataFrame({
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'F', 'M', 'M', 'M', 'F', 'F', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}, index = ['Ana','Benito','Camilo','Daniel','Erika','Paola','Gabriela']) 
df2 = pd.DataFrame({
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'F', 'M', 'M', 'M', 'F', 'F', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}, index = ['Ana','Benito','Camilo','Daniel','Erika','Paola','Gabriela'])

In [23]:
df.groupby(['genero'])['cm'].agg([np.mean, np.std])

              mean        std
genero
F       121.250000   4.787136
M       131.666667  22.546249

In [27]:
df[['pais']].astype('category')

         pais
Ana        co
Benito     mx
Camilo     co
Daniel     mx
Erika      mx
Paola      ch
Gabriela   ch

In [28]:
df.dtypes

edad        int64
cm          int64
pais       object
genero     object
Q1        float64
Q2        float64
dtype: object

In [33]:
df.dtypes

edad        int64
cm          int64
pais       object
genero     object
Q1        float64
Q2        float64
dtype: object

In [32]:
df.describe(include='all')

             edad          cm pais genero         Q1        Q2
count    7.000000    7.000000    7      7   6.000000  7.000000
unique        NaN         NaN    3      2        NaN       NaN
top           NaN         NaN   mx      F        NaN       NaN
freq          NaN         NaN    3      4        NaN       NaN
mean    11.571429  125.714286  NaN    NaN   6.833333  8.285714
std      1.718249   14.556949  NaN    NaN   2.483277  0.755929
min      9.000000  110.000000  NaN    NaN   3.000000  7.000000
25%     10.500000  117.500000  NaN    NaN   5.500000  8.000000
50%     12.000000  125.000000  NaN    NaN   7.500000  8.000000
75%     12.500000  127.500000  NaN    NaN   8.000000  9.000000
max     14.000000  155.000000  NaN    NaN  10.000000  9.000000

In [40]:
df.append(df2)

          edad   cm pais genero    Q1   Q2
Ana         10  115   co      F   5.0  7.0
Benito       9  110   mx      M  10.0  9.0
Camilo      13  130   co      M   8.0  9.0
Daniel      14  155   mx      M   NaN  8.0
Erika       12  125   mx      F   7.0  8.0
Paola       11  120   ch      F   8.0  8.0
Gabriela    12  125   ch      F   3.0  9.0
Ana         10  115   co      F   5.0  7.0
Benito       9  110   mx      M  10.0  9.0
Camilo      13  130   co      M   8.0  9.0
Daniel      14  155   mx      M   NaN  8.0
Erika       12  125   mx      F   7.0  8.0
Paola       11  120   ch      F   8.0  8.0
Gabriela    12  125   ch      F   3.0  9.0

In [45]:
pd.concat([df,df2], ignore_index=True)

    edad   cm pais genero    Q1   Q2
0     10  115   co      F   5.0  7.0
1      9  110   mx      M  10.0  9.0
2     13  130   co      M   8.0  9.0
3     14  155   mx      M   NaN  8.0
4     12  125   mx      F   7.0  8.0
5     11  120   ch      F   8.0  8.0
6     12  125   ch      F   3.0  9.0
7     10  115   co      F   5.0  7.0
8      9  110   mx      M  10.0  9.0
9     13  130   co      M   8.0  9.0
10    14  155   mx      M   NaN  8.0
11    12  125   mx      F   7.0  8.0
12    11  120   ch      F   8.0  8.0
13    12  125   ch      F   3.0  9.0

In [47]:
df.merge(df2, on='cm')

   edad_x   cm pais_x genero_x  Q1_x  Q2_x  edad_y pais_y genero_y  Q1_y  Q2_y
0      10  115     co        F   5.0   7.0      10     co        F   5.0   7.0
1       9  110     mx        M  10.0   9.0       9     mx        M  10.0   9.0
2      13  130     co        M   8.0   9.0      13     co        M   8.0   9.0
3      14  155     mx        M   NaN   8.0      14     mx        M   NaN   8.0
4      12  125     mx        F   7.0   8.0      12     mx        F   7.0   8.0
5      12  125     mx        F   7.0   8.0      12     ch        F   3.0   9.0
6      12  125     ch        F   3.0   9.0      12     mx        F   7.0   8.0
7      12  125     ch        F   3.0   9.0      12     ch        F   3.0   9.0
8      11  120     ch        F   8.0   8.0      11     ch        F   8.0   8.0

In [49]:
pd.merge(df, df2, how='left', on='cm')

   edad_x   cm pais_x genero_x  Q1_x  Q2_x  edad_y pais_y genero_y  Q1_y  Q2_y
0      10  115     co        F   5.0   7.0      10     co        F   5.0   7.0
1       9  110     mx        M  10.0   9.0       9     mx        M  10.0   9.0
2      13  130     co        M   8.0   9.0      13     co        M   8.0   9.0
3      14  155     mx        M   NaN   8.0      14     mx        M   NaN   8.0
4      12  125     mx        F   7.0   8.0      12     mx        F   7.0   8.0
5      12  125     mx        F   7.0   8.0      12     ch        F   3.0   9.0
6      11  120     ch        F   8.0   8.0      11     ch        F   8.0   8.0
7      12  125     ch        F   3.0   9.0      12     mx        F   7.0   8.0
8      12  125     ch        F   3.0   9.0      12     ch        F   3.0   9.0

In [50]:
pd.Series([10,8,5,0]) - pd.Series([0,1,6,12])

0    10
1     7
2    -1
3   -12
dtype: int64

In [51]:
df_woman = pd.DataFrame({
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'F', 'M', 'M', 'M', 'F', 'F', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}, index = ['Ana','Benito','Camilo','Daniel','Erika','Paola','Gabriela'])

In [57]:
df_woman.query("genero=='F'")['edad'].mean()

11.25

In [53]:
df_x = pd.DataFrame({
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'F', 'M', 'M', 'M', 'F', 'F', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}, index = ['Ana','Benito','Camilo','Daniel','Erika','Paola','Gabriela'])


print(df_x.query("(edad >= 12) & (cm < 130) & (Q1 > 5)")['Q2'])

Erika    8.0
Name: Q2, dtype: float64

In [54]:
[10,8,5,0] + [0,1,6,12]

[10, 8, 5, 0, 0, 1, 6, 12]

In [56]:
df_x.drop(columns=['edad'])

           cm pais genero    Q1   Q2
Ana       115   co      F   5.0  7.0
Benito    110   mx      M  10.0  9.0
Camilo    130   co      M   8.0  9.0
Daniel    155   mx      M   NaN  8.0
Erika     125   mx      F   7.0  8.0
Paola     120   ch      F   8.0  8.0
Gabriela  125   ch      F   3.0  9.0