In [1]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Collecting pandas
  Downloading pandas-1.3.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 5.3 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas~=1.1.0; python_version >= "3.0", but you have pandas 1.3.4 which is incompatible.
Successfully installed pandas-1.3.4

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
%cd '/content/drive/My Drive/Colab Notebooks/db'
!ls

/content/drive/My Drive/Colab Notebooks/db
API_AG.LND.AGRI.K2_DS2_en_csv_v2_716226.csv	Meteorite_Landings.csv
API_AG.LND.FRST.K2_DS2_en_csv_v2_716262.csv	poblacion.csv
API_EG.USE.ELEC.KH.PC_DS2_en_csv_v2_715482.csv	test.csv
API_EN.ATM.CO2E.KT_DS2_en_csv_v2_713263.csv	test.hdf
API_SP.POP.TOTL_DS2_en_csv_v2_713131.csv	test.json
covid_19_data.csv				test.parquet
flights.db					test.pkl
GlobalLandTemperaturesByCountry.csv		test.xlsx
london_merged.csv

In [3]:
import pandas as pd
pd.__version__

'1.3.4'

In [4]:
df_meteorites = pd.read_csv('Meteorite_Landings.csv')

In [5]:
df_meteorites.tail(10)

             name     id nametype  ...    reclat    reclong             GeoLocation
45706     Zerkaly  31354    Valid  ...  52.13333   81.96667    (52.13333, 81.96667)
45707    Zhaoping  54609    Valid  ...  24.23333  111.18333   (24.23333, 111.18333)
45708    Zhigansk  30405    Valid  ...  68.00000  128.30000           (68.0, 128.3)
45709  Zhongxiang  30406    Valid  ...  31.20000  112.50000           (31.2, 112.5)
45710  Zillah 001  31355    Valid  ...  29.03700   17.01850       (29.037, 17.0185)
45711  Zillah 002  31356    Valid  ...  29.03700   17.01850       (29.037, 17.0185)
45712      Zinder  30409    Valid  ...  13.78333    8.96667     (13.78333, 8.96667)
45713        Zlin  30410    Valid  ...  49.25000   17.66667       (49.25, 17.66667)
45714   Zubkovsky  31357    Valid  ...  49.78917   41.50460     (49.78917, 41.5046)
45715  Zulu Queen  30414    Valid  ...  33.98333 -115.68333  (33.98333, -115.68333)

[10 rows x 10 columns]

In [6]:
df_meteorites.sample(10)

                              name     id  ...    reclong             GeoLocation
33284  Queen Alexandra Range 94481  20113  ...  168.00000          (-84.0, 168.0)
11404       Elephant Moraine 96201   9792  ...  157.16667  (-76.18333, 157.16667)
30264        Northwest Africa 7116  54783  ...    0.00000              (0.0, 0.0)
14753       Grove Mountains 023783  50197  ...   75.24944   (-72.98472, 75.24944)
28551        Northwest Africa 4309  44729  ...        NaN                     NaN
23096        Meteorite Hills 00401  15636  ...  155.75000     (-79.68333, 155.75)
16458                   Hughes 041  11965  ...  129.60000      (-30.43333, 129.6)
16168        Hammadah al Hamra 192  11675  ...   13.43317    (28.64533, 13.43317)
15791       Grove Mountains 054498  50636  ...   75.10028   (-72.91611, 75.10028)
20146            Lewis Cliff 86237  13171  ...  161.68763  (-84.27387, 161.68763)

[10 rows x 10 columns]

In [7]:
df_meteorites.shape

(45716, 10)

In [8]:
df_meteorites.size

457160

In [13]:
df_meteorites.describe()

            id     mass (g)   reclat  reclong
count 45,716.0     45,585.0 38,401.0 38,401.0
mean  26,889.7     13,278.1    -39.1     61.1
std   16,860.7    574,988.9     46.4     80.6
min        1.0          0.0    -87.4   -165.4
25%   12,688.8          7.2    -76.7      0.0
50%   24,261.5         32.6    -71.5     35.7
75%   40,656.8        202.6      0.0    157.2
max   57,458.0 60,000,000.0     81.2    354.5

In [10]:
pd.options.display.float_format = '{:,.1f}'.format

In [12]:
df_meteorites.describe(include='all')

          name       id nametype  ...   reclat  reclong GeoLocation
count    45716 45,716.0    45716  ... 38,401.0 38,401.0       38401
unique   45716      NaN        2  ...      NaN      NaN       17100
top     Aachen      NaN    Valid  ...      NaN      NaN  (0.0, 0.0)
freq         1      NaN    45641  ...      NaN      NaN        6214
mean       NaN 26,889.7      NaN  ...    -39.1     61.1         NaN
std        NaN 16,860.7      NaN  ...     46.4     80.6         NaN
min        NaN      1.0      NaN  ...    -87.4   -165.4         NaN
25%        NaN 12,688.8      NaN  ...    -76.7      0.0         NaN
50%        NaN 24,261.5      NaN  ...    -71.5     35.7         NaN
75%        NaN 40,656.8      NaN  ...      0.0    157.2         NaN
max        NaN 57,458.0      NaN  ...     81.2    354.5         NaN

[11 rows x 10 columns]

In [ ]:
df_meteorites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  object
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.5+ MB

In [ ]:
df_meteorites.dtypes

name            object
id               int64
nametype        object
recclass        object
mass (g)       float64
fall            object
year            object
reclat         float64
reclong        float64
GeoLocation     object
dtype: object

In [ ]:
df_meteorites.convert_dtypes().dtypes

name            string
id               Int64
nametype        string
recclass        string
mass (g)       float64
fall            string
year            string
reclat         float64
reclong        float64
GeoLocation     string
dtype: object

In [ ]:
df_meteorites.nunique()

name           45716
id             45716
nametype           2
recclass         466
mass (g)       12576
fall               2
year             266
reclat         12738
reclong        14640
GeoLocation    17100
dtype: int64

In [ ]:
df_meteorites[['fall','nametype']] = df_meteorites[['fall','nametype']].astype('category')

In [ ]:
df_meteorites.dtypes

name             object
id                int64
nametype       category
recclass         object
mass (g)        float64
fall           category
year             object
reclat          float64
reclong         float64
GeoLocation      object
dtype: object

In [ ]:
df_meteorites['fall'].unique()

[Fell, Found]
Categories (2, object): [Fell, Found]

In [ ]:
df_meteorites['fall'].value_counts()

Found    44609
Fell      1107
Name: fall, dtype: int64

In [14]:
pd.get_dummies(df_meteorites['fall'])

       Fell  Found
0         1      0
1         1      0
2         1      0
3         1      0
4         1      0
...     ...    ...
45711     0      1
45712     0      1
45713     0      1
45714     0      1
45715     0      1

[45716 rows x 2 columns]

In [ ]:
df_meteorites['ones'] = 1
df_meteorites

             name     id nametype  ... reclong             GeoLocation ones
0          Aachen      1    Valid  ...     6.1       (50.775, 6.08333)    1
1          Aarhus      2    Valid  ...    10.2    (56.18333, 10.23333)    1
2            Abee      6    Valid  ...  -113.0      (54.21667, -113.0)    1
3        Acapulco     10    Valid  ...   -99.9       (16.88333, -99.9)    1
4         Achiras    370    Valid  ...   -65.0     (-33.16667, -64.95)    1
...           ...    ...      ...  ...     ...                     ...  ...
45711  Zillah 002  31356    Valid  ...    17.0       (29.037, 17.0185)    1
45712      Zinder  30409    Valid  ...     9.0     (13.78333, 8.96667)    1
45713        Zlin  30410    Valid  ...    17.7       (49.25, 17.66667)    1
45714   Zubkovsky  31357    Valid  ...    41.5     (49.78917, 41.5046)    1
45715  Zulu Queen  30414    Valid  ...  -115.7  (33.98333, -115.68333)    1

[45716 rows x 11 columns]

In [ ]:
df_meteorites[['fell','found']] = pd.get_dummies(df_meteorites['fall'])

In [ ]:
df_meteorites

             name     id nametype  ... ones  fell found
0          Aachen      1    Valid  ...    1     1     0
1          Aarhus      2    Valid  ...    1     1     0
2            Abee      6    Valid  ...    1     1     0
3        Acapulco     10    Valid  ...    1     1     0
4         Achiras    370    Valid  ...    1     1     0
...           ...    ...      ...  ...  ...   ...   ...
45711  Zillah 002  31356    Valid  ...    1     0     1
45712      Zinder  30409    Valid  ...    1     0     1
45713        Zlin  30410    Valid  ...    1     0     1
45714   Zubkovsky  31357    Valid  ...    1     0     1
45715  Zulu Queen  30414    Valid  ...    1     0     1

[45716 rows x 13 columns]

In [ ]:
df_meteorites['year']

0        01/01/1880 12:00:00 AM
1        01/01/1951 12:00:00 AM
2        01/01/1952 12:00:00 AM
3        01/01/1976 12:00:00 AM
4        01/01/1902 12:00:00 AM
                  ...
45711    01/01/1990 12:00:00 AM
45712    01/01/1999 12:00:00 AM
45713    01/01/1939 12:00:00 AM
45714    01/01/2003 12:00:00 AM
45715    01/01/1976 12:00:00 AM
Name: year, Length: 45716, dtype: object

In [ ]:
pd.to_datetime(
df_meteorites['year'],
errors = 'coerce',
format = '%m/%d/%Y %H:%M:%S %p'
)

0       1880-01-01 12:00:00
1       1951-01-01 12:00:00
2       1952-01-01 12:00:00
3       1976-01-01 12:00:00
4       1902-01-01 12:00:00
                ...
45711   1990-01-01 12:00:00
45712   1999-01-01 12:00:00
45713   1939-01-01 12:00:00
45714   2003-01-01 12:00:00
45715   1976-01-01 12:00:00
Name: year, Length: 45716, dtype: datetime64[ns]

In [ ]:
df_meteorites['year'] =  pd.to_datetime(
df_meteorites['year'],
errors = 'coerce',
format = '%m/%d/%Y %H:%M:%S %p'
)

In [ ]:
df_meteorites.convert_dtypes().dtypes

name                   string
id                      Int64
nametype             category
recclass               string
mass (g)              float64
fall                 category
year           datetime64[ns]
reclat                float64
reclong               float64
GeoLocation            string
ones                    Int64
fell                    UInt8
found                   UInt8
dtype: object

In [ ]:
df_meteorites.rename(columns={'mass (g)':'mass'}, inplace=True)

In [ ]:
df_meteorites

             name     id nametype  ... ones  fell found
0          Aachen      1    Valid  ...    1     1     0
1          Aarhus      2    Valid  ...    1     1     0
2            Abee      6    Valid  ...    1     1     0
3        Acapulco     10    Valid  ...    1     1     0
4         Achiras    370    Valid  ...    1     1     0
...           ...    ...      ...  ...  ...   ...   ...
45711  Zillah 002  31356    Valid  ...    1     0     1
45712      Zinder  30409    Valid  ...    1     0     1
45713        Zlin  30410    Valid  ...    1     0     1
45714   Zubkovsky  31357    Valid  ...    1     0     1
45715  Zulu Queen  30414    Valid  ...    1     0     1

[45716 rows x 13 columns]

In [ ]:
list(df_meteorites)

['name',
 'id',
 'nametype',
 'recclass',
 'mass',
 'fall',
 'year',
 'reclat',
 'reclong',
 'GeoLocation',
 'ones',
 'fell',
 'found']

In [ ]:
df_meteorites.head(5)

       name   id nametype  ...           GeoLocation  fell found
0    Aachen    1    Valid  ...     (50.775, 6.08333)     1     0
1    Aarhus    2    Valid  ...  (56.18333, 10.23333)     1     0
2      Abee    6    Valid  ...    (54.21667, -113.0)     1     0
3  Acapulco   10    Valid  ...     (16.88333, -99.9)     1     0
4   Achiras  370    Valid  ...   (-33.16667, -64.95)     1     0

[5 rows x 12 columns]

In [ ]:
df_meteorites.drop(['ones'], axis=1, inplace=True)

In [ ]:
df_meteorites.drop([0,2,4,6]).head(10)

                name   id nametype  ...           GeoLocation  fell found
1             Aarhus    2    Valid  ...  (56.18333, 10.23333)     1     0
3           Acapulco   10    Valid  ...     (16.88333, -99.9)     1     0
5           Adhi Kot  379    Valid  ...          (32.1, 71.8)     1     0
7               Agen  392    Valid  ...   (44.21667, 0.61667)     1     0
8             Aguada  398    Valid  ...    (-31.6, -65.23333)     1     0
9      Aguila Blanca  417    Valid  ...   (-30.86667, -64.55)     1     0
10  Aioun el Atrouss  423    Valid  ...  (16.39806, -9.57028)     1     0
11               Aïr  424    Valid  ...   (19.08333, 8.38333)     1     0
12   Aire-sur-la-Lys  425    Valid  ...   (50.66667, 2.33333)     1     0
13             Akaba  426    Valid  ...     (29.51667, 35.05)     1     0

[10 rows x 12 columns]

In [ ]:
df_meteorites.drop(columns = ['id','recclass'],index=[0,2,4,6])

             name nametype     mass  ...             GeoLocation fell  found
1          Aarhus    Valid    720.0  ...    (56.18333, 10.23333)    1      0
3        Acapulco    Valid  1,914.0  ...       (16.88333, -99.9)    1      0
5        Adhi Kot    Valid  4,239.0  ...            (32.1, 71.8)    1      0
7            Agen    Valid 30,000.0  ...     (44.21667, 0.61667)    1      0
8          Aguada    Valid  1,620.0  ...      (-31.6, -65.23333)    1      0
...           ...      ...      ...  ...                     ...  ...    ...
45711  Zillah 002    Valid    172.0  ...       (29.037, 17.0185)    0      1
45712      Zinder    Valid     46.0  ...     (13.78333, 8.96667)    0      1
45713        Zlin    Valid      3.3  ...       (49.25, 17.66667)    0      1
45714   Zubkovsky    Valid  2,167.0  ...     (49.78917, 41.5046)    0      1
45715  Zulu Queen    Valid    200.0  ...  (33.98333, -115.68333)    0      1

[45712 rows x 10 columns]

In [ ]:
df  = df_meteorites.copy(deep=True)
df.drop(['id'],axis=1,inplace=True)

In [ ]:
df

             name nametype  ... fell  found
0          Aachen    Valid  ...    1      0
1          Aarhus    Valid  ...    1      0
2            Abee    Valid  ...    1      0
3        Acapulco    Valid  ...    1      0
4         Achiras    Valid  ...    1      0
...           ...      ...  ...  ...    ...
45711  Zillah 002    Valid  ...    0      1
45712      Zinder    Valid  ...    0      1
45713        Zlin    Valid  ...    0      1
45714   Zubkovsky    Valid  ...    0      1
45715  Zulu Queen    Valid  ...    0      1

[45716 rows x 11 columns]

In [ ]:
df_meteorites

             name     id nametype  ...             GeoLocation  fell found
0          Aachen      1    Valid  ...       (50.775, 6.08333)     1     0
1          Aarhus      2    Valid  ...    (56.18333, 10.23333)     1     0
2            Abee      6    Valid  ...      (54.21667, -113.0)     1     0
3        Acapulco     10    Valid  ...       (16.88333, -99.9)     1     0
4         Achiras    370    Valid  ...     (-33.16667, -64.95)     1     0
...           ...    ...      ...  ...                     ...   ...   ...
45711  Zillah 002  31356    Valid  ...       (29.037, 17.0185)     0     1
45712      Zinder  30409    Valid  ...     (13.78333, 8.96667)     0     1
45713        Zlin  30410    Valid  ...       (49.25, 17.66667)     0     1
45714   Zubkovsky  31357    Valid  ...     (49.78917, 41.5046)     0     1
45715  Zulu Queen  30414    Valid  ...  (33.98333, -115.68333)     0     1

[45716 rows x 12 columns]